html{
    font-size:62.5%;
    scroll-behavior: smooth;
}

body{
    font-size:1.6rem; 
    font-family:"Hiragino Kaku Gothic Ntd",sans;
    width:100%; 
    height:100%;
}

/* 
1.CSSの記述順序
2.共通設定
3.固有設定->ページの上から設定
*/

.container{
    width:1000px;
    border:solid 2px tomato;
    padding:20px;
}

.block{
    margin-bottom:20px;
}
.block li{
    width:50vw;
    height:50px;
    line-height: 50px;
    text-align: center;
    display: block;
    outline:solid 2px skyblue;
}

.inline{
    margin-bottom:20px;
}
.inline li{
    width:230px;
    height:50px;
    line-height: 50px;

    display: inline;
    outline:solid 2px skyblue;
}

.inline-block{
    width:100%;
}
.inline-block li{
    width:50vw;
    height:50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    background:#999;
}