doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/tips02.css")
        title Document
    body 
        #header
            h1 Logo 
            nav 
                ul 
                    li 項目１
                    li 項目２
                    li 項目３
                    
        h2 スクロールでサイズ変更
        .contents

        script(src="js/tips02.js")
