doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/tips03.css")
        title Document
    body
        h1 モーダルウィンドウ
        .contents
            button.click click

            .mordal 
                .close 
                p モーダルウィンドウ
                .btnBox
                    button.btn back 
                    button.btn go

        script(src="js/tips03.js") 