doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/tips06.css")
        title Document
    body 
        .wrapper
            header 
                h1 Logo
                nav
                    ul
                        li menu
                        li menu
                        li menu
                        li menu
                        li menu
            .container 
                main 
                    .contents
                        section.contents
                            h2 コンテンツタイトル1
                            p コンテンツテキスト
                        section.contents
                            h2 コンテンツタイトル2
                            p コンテンツテキスト
                        section.contents
                            h2 コンテンツタイトル3
                            p コンテンツテキスト
                footer 
                    p 
                        small &copy;copyright
        