
h1{
    padding: 0 20px;
}
ul{

    list-style: none;
    display: flex;
    li{
        opacity:0;

        width:200px;
        height:200px;
        line-height: 200px;
        background-color: skyblue;
        text-align: center;
        margin: 10px;
        animation:fadeUp .7s forwards ;
        
    }
}
@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}